.loader-container{
  display: flex;
  height: 8rem;
  justify-content: center;
  animation: rotate 2s linear infinite;
  margin-top: auto;
  margin: auto;
  width: 10rem;
  margin-top: 10%;
  padding: 4rem 3rem;
  outline: black solid 3px;
  border-radius: 50%;
}

.loader-container img{
  height: 100%;

}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}